/* Font */
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap");

/* Style Variables */
:root {
  --font: "Poppins", sans-serif;

  --primary-500: #0a3f4d;
  --primary-100: #e0f2f5;
  --secondary-500: #c32c0e;
  --hover-red: #fae5e0;
  --success-500: #28a745;
  --error-500: #dc3545;

  --black: #000000;
  --neutral-black: #383838;
  --neutral-dark-grey: #3b4050;
  --neutral-off-white: #f7f6f5;
  --neutral-light-grey: #f8f8f8;
  --white: #ffffff;
}

/* Global Reset */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  scroll-behavior: smooth;
}

li {
  list-style: none;
}

a {
  text-decoration: none;
  cursor: pointer;
}

body {
  background-color: var(--white);
  font-family: var(--font);
  border: 2px;
}

/* Section 1 Starts Here */
.open-nav {
  transform: translateX(0%);
}
header {
  display: flex;
  justify-content: space-around;
  align-items: center;
  background-color: var(--neutral-light-grey);
  padding: 10px 0;
}
/* Mobile view Header starts here */
.menu,
.close {
  width: 45px;
  padding: 6px;
  cursor: pointer;
}

.close {
  float: right;
  margin: 32px;
}

.logo {
  padding: 10px;
  vertical-align: middle;
  display: flex;
  align-items: center;
}

.logo-image {
  width: 180px;
}

nav {
  background: var(--neutral-light-grey);
  width: 100%;
  height: 100vh;
  position: fixed;
  top: 0;
  right: 0;
  z-index: 100;
  transform: translateX(100%);
  transition: transform 0.3s ease-in-out;
}

nav a {
  display: block;
  color: var(--black);
  padding: 16px 32px;
  text-align: center;
  font-size: 1.2rem;
  font-weight: 500;
}

nav a:hover {
  color: var(--primary-500);
  font-weight: 700;
}

nav ul {
  padding: 0;
  margin-top: 8em;
}
/* Mobile view Header ends here */
/* Section 1 Ends Here */

/* Hero Section Starts Here */

.hero {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 50px;
  gap: 50px;
  background-color: var(--white);
}

h1 {
  font-size: 3.5rem;
  font-weight: 700;
  line-height: 1.2;
  color: var(--black);
}

.hero-text {
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 30px;
  padding-left: 50px;
  margin-left: 50px;
}

.hero-text p {
  font-size: 1.2rem;
}

.hero-image {
  flex: 1;
  width: 100%;
  max-width: 700px;
  height: auto;
  object-fit: contain;
}

.hero-cta-box {
  display: flex;
  gap: 40px;
}

.hero-cta-box a {
  display: flex;
  font-size: 1rem;
  font-weight: 300;
  color: var(--neutral-off-white);
  width: 150px;
  padding: 10px 20px;
}

.hero-cta {
  display: flex;
  flex-direction: row;
  align-items: center;
  border-radius: 10px;
}

.hero-cta a {
  text-align: center;
  display: inline-block;
  padding: 10px 20px;
  cursor: pointer;
}

.hero-cta img {
  width: 50px;
  padding: 5px;
}

.hero-cta span {
  font-weight: 700;
}

.appstore {
  background-color: var(--primary-500);
}

.appstore:hover {
  background: #072c36;
}

.playstore {
  background-color: var(--secondary-500);
}

.playstore:hover {
  background: #9a240b;
}

/*hover unfinished
.playstore:hover {
  background-color: var(--hover-red);
}

.playstore a:hover {
  color: var(--secondary-500);
}

.appstore:hover {
  background-color: var(--primary-100);
}

.appstore a:hover {
  color: var(--primary-500);
}

.appstore a:hover {
  color: var(--primary-500);
}*/

/* Hero Section Ends Here */

/* Section 2 Starts Here */
.sectionTwo,
.subsection,
.subsubsection {
  display: flex;
  flex-direction: column;
  width: 100%;
}

.sectionTwo {
  justify-content: center;
  align-items: center;
  padding: 175px 100px;
  gap: 302px;
  overflow: hidden;

  background-image: url(assets/section2-background1.svg),
    url(assets/section2-background2.svg);

  background-repeat: no-repeat, no-repeat;

  background-size: 170%, 150%;

  background-position: left -300px top -2480px, right -300px bottom -980px;
}

.subsection {
  gap: 55px;
}

.subsection.one {
  justify-content: center;
  align-items: start;
}

.sectionTwo h1 {
  font-size: 50px;
  font-weight: 800;
  line-height: 50px;
  color: var(--white);
}

.sectionTwo p {
  font-size: 36px;
  font-weight: 400;
  line-height: 36px;
  color: var(--black);
}

.subsubsection {
  gap: 30px;
}

.subsection.two,
.subsubsection.two {
  justify-content: center;
  align-items: end;
}

.subsubsection > div {
  background-color: var(--white);
  display: flex;
  justify-content: start;
  align-items: center;
  width: 633px;
  height: 95px;
  padding-inline: 30px;
  gap: 42px;
  border-radius: 10px;
  box-shadow: 0 4px 5px 0px rgba(0, 0, 0, 0.07);
}

.subsubsection.two > div {
  justify-content: end;
  align-items: center;
}

.subsection.two > h1 {
  color: var(--primary-500);
}

.subsection.one {
  position: relative;
}

.subsection.one > img {
  position: absolute;
  top: -20px;
  right: -310px;
  width: 85%;
}

.subsection.two {
  position: relative;
}

.subsection.two > img {
  position: absolute;
  top: -120px;
  left: -290px;
  width: 90%;
}

.subsection.three {
  position: relative;
}

.subsection.three > img {
  position: absolute;
  top: -60px;
  right: -340px;
  width: 100%;
}
/* Section 2 Ends Here */

/* Section 3 Starts here*/
.sectionThree {
  display: flex;
  flex-direction: column;
  gap: 50px;
}

.title {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 20px;
  margin-top: 30px;
  font-size: 2.25rem;
}

.event-boxes-container {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  width: 100%;
  gap: 50px;
}

.event-box {
  display: flex;
  flex-direction: column;
  width: 500px;
  background-color: #e0f2f5;
  border-radius: 20px;
  padding: 25px;
  gap: 15px;
}

h2 {
  font-weight: bold;
  font-size: 2rem;
  display: flex;
  align-items: left;
}

.sectionThree li {
  list-style-type: none;
  font-size: 1.5rem;
}
.bullet {
  color: var(--black);
  font-size: 24px;
  margin-right: 10px;
  vertical-align: middle;
  font-weight: 700;
}
/*Section 3 ends here*/

/* Section 4 Starts Here */
.sectionFour {
  width: 80%;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.sectionFour .title {
  font-size: 3rem;
  margin: 2rem 0rem;
}
.sectionFour .faq {
  max-width: 700px;
  margin-top: 2rem;
  padding-bottom: 1rem;
  cursor: pointer;
}
.sectionFour .faq .question {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.sectionFour .faq .question h3 {
  font-size: 1.5rem;
}
.sectionFour .faq .answer {
  max-height: 0;
  overflow: hidden;
  transition: max-height 1.4s ease;
}
.sectionFour .faq .answer p {
  padding-top: 1rem;
  line-height: 1.6;
  font-size: 1.4rem;
}
.sectionFour .faq.active .answer {
  max-height: 300px;
  animation: fade 1s ease-in-out;
}
.sectionFour .faq.active img {
  transform: rotate(180deg);
}
.sectionFour img {
  transition: transform 0.5s ease-in;
  width: 30px;
}

/*Section Four ends here*/

.sectionFive {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 50px 0;
}

.sectionFive h1 {
  font-size: 2.5rem;
  font-weight: 700;
  text-align: center;
  margin-bottom: 20px;
}

a {
  text-decoration: none;
}

.sectionFive .cta {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
  background-color: var(--primary-500);
  color: var(--white);
  padding: 15px 60px;
  border-radius: 20px;
  font-size: 1.5rem;
  font-weight: 600;
  cursor: pointer;
  width: 350px;
}

.sectionFive .cta:hover {
  background-color: var(--primary-100);
  color: var(--primary-500);

  font-weight: 700;
}
/*Section five ends here*/

/* Footer Section Starts Here */

.footer-container {
  display: flex;
  justify-content: space-around;
  flex-direction: row;
  padding: 50px 70px;
  background-image: url(assets/background-footer.svg);
  width: 100%;
  height: 600px;
  background-size: cover;
  background-position: center;
  padding: 180px;
}

.footer-logo {
  padding: 10px;
}

.footer-logo img {
  width: 150px;
  margin-top: 160px;
  display: flex;
  vertical-align: middle;
}

.footer-links .bold {
  font-weight: bold;
  font-size: 1.2rem;
  margin-bottom: 10px;
}

.footer-links ul {
  padding: 90px 0;
}

.footer-links li a {
  color: var(--white);
  font-size: 1.2rem;
  font-weight: 300;
}

.footer-bottom p {
  padding: 20px 30px;
  font-size: 1.3rem;
}

.footer-links {
  margin-top: 100px;
}
/* Footer Section Ends Here */

/*Media query for DESKTOP VIEW HEADER starts here*/
@media only screen and (min-width: 920px) {
  .menu,
  .close {
    display: none;
  }

  nav {
    transform: translateX(0);
    position: unset;
    display: block;
    width: auto;
    height: auto;
    background: none;
    background: var(--secondary-color);
    border-radius: 25px;
  }

  nav ul {
    display: flex;
    justify-content: space-between;
    margin: 0 auto;

    padding: 5px;
    gap: 100px;
  }

  nav li a {
    font-size: 1rem;
    background: var(--primary-500);
    color: var(--white);
    border-radius: 20px;
    padding: 10px 30px;
    width: 178px;
  }

  .nav-cta:hover {
    background-color: var(--primary-100);
    color: var(--primary-500);
    border: 2px solid var(--primary-500);
    font-weight: 700;
  }
}
/*Media query for DESKTOP VIEW HEADER ends here*/

@media (max-width: 600px) {
  header {
    padding-inline: 20px;
    justify-content: space-between;
  }

  .container h1 {
    font-size: 2.5rem;
    font-weight: 600;
    line-height: 1.2;
    color: var(--b);
  }

  .hero {
    justify-content: center;
    align-items: center;
    padding: 40px 20px;
  }

  .hero-cta-box {
    flex-direction: column;
    gap: 20px;
  }

  .hero-text {
    padding-left: 0px;
    margin-left: 0px;
  }

  .hero-image {
    display: none;
  }

  .sectionTwo {
    background-image: none !important;
    padding: 40px 20px;
    gap: 80px;
  }

  .subsection {
    gap: 20px;
  }

  .subsection.one img {
    display: none;
  }

  .subsection.two img {
    display: none;
  }

  .subsection.three img {
    display: none;
  }

  .subsubsection > div {
    width: 100%;
    height: 75px;
    padding-inline: 20px;
    gap: 20px;
    border-radius: 10px;
    box-shadow: 0 4px 5px 0px rgba(0, 0, 0, 0.07);
  }

  .sectionTwo h1 {
    font-size: 30px;
    font-weight: 600;
    line-height: 25px;
    color: var(--primary-500);
  }

  .sectionTwo p {
    font-size: 20px;
    font-weight: 400;
    line-height: 26px;
    color: var(--black);
  }

  .sectionThree {
    margin-inline: 20px;
    gap: 20px;
  }

  .title {
    padding: 0px;
    margin-top: 40px;
    font-size: 2.25rem;
  }

  .event-boxes-container {
    flex-direction: column;
    width: 100%;
    gap: 20px;
  }

  .event-box {
    width: 100%;
  }

  .sectionFour {
    width: 90%;
    margin: 40px 20px;
  }

  .sectionFour .title {
    margin-top: 40px;
    margin-bottom: 0px;
    font-size: 2.5rem;
    font-weight: 600;
    line-height: 1.2;
  }

  .sectionFive {
    padding: 40px 0;
  }

  .sectionFive .title {
    padding: 0px;
    margin-top: 0px;
    font-size: 2.25rem;
  }

  .footer-container {
    justify-content: space-between;
    flex-direction: column;
    background-image: none;
    padding: 40px 20px;
    height: fit-content;
    background-color: var(--primary-500);
  }

  .footer-logo {
    padding: 0px;
  }

  .footer-logo img {
    margin-top: 0px;
  }

  .footer-links ul {
    padding: 0px 0px;
  }

  .footer-links {
    margin-top: 20px;
  }
}

@media only screen and (min-width: 601px) and (max-width: 768px) {
  header {
    padding-inline: 60px;
    justify-content: space-between;
  }

  .container h1 {
    font-size: 2.5rem;
    font-weight: 600;
    line-height: 1.2;
    color: var(--b);
  }

  .hero {
    justify-content: center;
    align-items: center;
    padding: 80px 60px;
  }

  .hero-cta-box {
    gap: 20px;
  }

  .hero-text {
    padding-left: 0px;
    margin-left: 0px;
  }

  .appstore {
    width: fit-content;
  }

  .playstore {
    width: fit-content;
  }

  .hero-image {
    display: none;
  }

  .sectionTwo {
    background-image: none !important;
    padding: 80px 60px;
    gap: 80px;
  }

  .subsection {
    gap: 20px;
  }

  .subsection.one img {
    display: none;
  }

  .subsection.two img {
    display: none;
  }

  .subsection.three img {
    display: none;
  }

  .subsubsection > div {
    width: 100%;
    height: 95px;
    padding-inline: 40px;
    gap: 20px;
    border-radius: 10px;
    box-shadow: 0 4px 5px 0px rgba(0, 0, 0, 0.07);
  }

  .sectionTwo h1 {
    font-size: 30px;
    font-weight: 600;
    line-height: 25px;
    color: var(--primary-500);
  }

  .sectionTwo p {
    font-size: 20px;
    font-weight: 400;
    line-height: 26px;
    color: var(--black);
  }

  .sectionThree {
    margin-inline: 60px;
    gap: 20px;
  }

  .title {
    padding: 0px;
    margin-top: 80px;
    font-size: 2.25rem;
  }

  .event-boxes-container {
    flex-direction: column;
    width: 100%;
    gap: 20px;
  }

  .event-box {
    width: 100%;
  }

  .sectionFour {
    width: 83%;
    margin: 80px 60px;
  }

  .sectionFour .title {
    margin-top: 80px;
    margin-bottom: 0px;
    font-size: 2.5rem;
    font-weight: 600;
    line-height: 1.2;
  }

  .sectionFive {
    padding: 80px 0;
  }

  .sectionFive .title {
    padding: 0px;
    margin-top: 0px;
    font-size: 2.25rem;
  }

  .footer-container {
    justify-content: space-between;
    flex-direction: column;
    background-image: none;
    padding: 80px 60px;
    height: fit-content;
    background-color: var(--primary-500);
  }

  .footer-logo {
    padding: 0px;
  }

  .footer-logo img {
    margin-top: 0px;
  }

  .footer-links ul {
    padding: 0px 0px;
  }

  .footer-links {
    margin-top: 60px;
  }
}

@media only screen and (min-width: 769px) and (max-width: 1024px) {
  header {
    padding-inline: 60px;
    justify-content: space-between;
  }

  .container h1 {
    font-size: 2.5rem;
    font-weight: 600;
    line-height: 1.2;
    color: var(--b);
  }

  .hero {
    justify-content: center;
    align-items: center;
    padding: 80px 60px;
  }

  .hero-cta-box {
    gap: 20px;
  }

  .hero-text {
    padding-left: 0px;
    margin-left: 0px;
  }

  .appstore {
    width: fit-content;
  }

  .playstore {
    width: fit-content;
  }

  .hero-image {
    display: none;
  }

  .sectionTwo {
    background-image: none !important;
    padding: 80px 60px;
    gap: 80px;
  }

  .subsection {
    gap: 20px;
  }

  .subsection.one img {
    display: none;
  }

  .subsection.two img {
    display: none;
  }

  .subsection.three img {
    display: none;
  }

  .subsubsection > div {
    width: 350px;
    height: 95px;
    padding-inline: 40px;
    gap: 20px;
    border-radius: 10px;
    box-shadow: 0 4px 5px 0px rgba(0, 0, 0, 0.07);
  }

  .sectionTwo h1 {
    font-size: 30px;
    font-weight: 600;
    line-height: 25px;
    color: var(--primary-500);
  }

  .sectionTwo p {
    font-size: 20px;
    font-weight: 400;
    line-height: 26px;
    color: var(--black);
  }

  .sectionThree {
    margin-inline: 60px;
    gap: 20px;
  }

  .title {
    padding: 0px;
    margin-top: 80px;
    font-size: 2.25rem;
  }

  .event-boxes-container {
    flex-direction: column;
    width: 100%;
    gap: 20px;
  }

  .event-box {
    width: 100%;
  }

  .sectionFour {
    width: 86%;
    margin: 80px 60px;
  }

  .sectionFour .title {
    margin-top: 80px;
    margin-bottom: 0px;
    font-size: 2.5rem;
    font-weight: 600;
    line-height: 1.2;
  }

  .sectionFive {
    padding: 80px 0;
  }

  .sectionFive .title {
    padding: 0px;
    margin-top: 0px;
    font-size: 2.25rem;
  }

  .footer-container {
    justify-content: space-between;
    flex-direction: row;
    background-image: none;
    padding: 80px 60px;
    height: fit-content;
    background-color: var(--primary-500);
  }

  .footer-logo {
    padding: 0px;
  }

  .footer-logo img {
    margin-top: 0px;
  }

  .footer-links ul {
    padding: 0px 0px;
  }

  .footer-links {
    margin-top: 0px;
  }
}

@media only screen and (min-width: 1025px) and (max-width: 1280px) {
  header {
    padding-inline: 100px;
    justify-content: space-between;
  }

  .container h1 {
    font-size: 2.5rem;
    font-weight: 600;
    line-height: 1.2;
    color: var(--b);
  }

  .hero {
    justify-content: center;
    align-items: center;
    padding: 120px 100px;
  }

  .hero-cta-box {
    gap: 20px;
  }

  .hero-text {
    padding-left: 0px;
    margin-left: 0px;
  }

  .appstore {
    width: fit-content;
  }

  .playstore {
    width: fit-content;
  }

  .hero-image {
    display: none;
  }

  .sectionTwo {
    background-image: none !important;
    padding: 120px 100px;
    gap: 80px;
  }

  .subsection {
    gap: 20px;
  }

  .subsection.one img {
    display: none;
  }

  .subsection.two img {
    display: none;
  }

  .subsection.three img {
    display: none;
  }

  .subsubsection > div {
    width: 350px;
    height: 95px;
    padding-inline: 40px;
    gap: 20px;
    border-radius: 10px;
    box-shadow: 0 4px 5px 0px rgba(0, 0, 0, 0.07);
  }

  .sectionTwo h1 {
    font-size: 30px;
    font-weight: 600;
    line-height: 25px;
    color: var(--primary-500);
  }

  .sectionTwo p {
    font-size: 20px;
    font-weight: 400;
    line-height: 26px;
    color: var(--black);
  }

  .sectionThree {
    margin-inline: 100px;
    gap: 20px;
  }

  .title {
    padding: 0px;
    margin-top: 80px;
    font-size: 2.25rem;
  }

  .event-boxes-container {
    width: 100%;
    gap: 20px;
  }

  .event-box {
    width: 100%;
  }

  .sectionFour {
    width: 80%;
    margin: 120px 100px;
  }

  .sectionFour .title {
    margin-top: 80px;
    margin-bottom: 0px;
    font-size: 2.5rem;
    font-weight: 600;
    line-height: 1.2;
  }

  .sectionFive {
    padding: 120px 0;
  }

  .sectionFive .title {
    padding: 0px;
    margin-top: 0px;
    font-size: 2.25rem;
  }

  .footer-container {
    justify-content: space-between;
    flex-direction: row;
    background-image: none;
    padding: 120px 100px;
    height: fit-content;
    background-color: var(--primary-500);
  }

  .footer-logo {
    padding: 0px;
  }

  .footer-logo img {
    margin-top: 0px;
  }

  .footer-links ul {
    padding: 0px 0px;
  }

  .footer-links {
    margin-top: 0px;
  }
}

@media only screen and (min-width: 1281px) and (max-width: 1440px) {
  header {
    padding-inline: 140px;
    justify-content: space-between;
  }

  .container h1 {
    font-size: 3.5rem;
    font-weight: 600;
    line-height: 1.2;
    color: var(--b);
  }

  .hero {
    justify-content: center;
    align-items: center;
    padding: 160px 140px;
  }

  .hero-cta-box {
    gap: 20px;
  }

  .hero-text {
    padding-left: 0px;
    margin-left: 0px;
  }

  .appstore {
    width: fit-content;
  }

  .playstore {
    width: fit-content;
  }

  .hero-image {
    display: none;
  }

  .sectionTwo {
    background-image: none !important;
    padding: 160px 140px;
    gap: 80px;
  }

  .subsection {
    gap: 40px;
  }

  .subsection.one img {
    display: none;
  }

  .subsection.two img {
    display: none;
  }

  .subsection.three img {
    display: none;
  }

  .subsubsection > div {
    width: 650px;
    height: 95px;
    padding-inline: 40px;
    gap: 40px;
    border-radius: 10px;
    box-shadow: 0 4px 5px 0px rgba(0, 0, 0, 0.07);
  }

  .sectionTwo h1 {
    font-size: 2.5rem;
    font-weight: 600;
    line-height: 25px;
    color: var(--primary-500);
  }

  .sectionTwo p {
    font-size: 32px;
    font-weight: 400;
    line-height: 26px;
    color: var(--black);
  }

  .sectionThree {
    margin-inline: 140px;
    gap: 40px;
  }

  .title {
    padding: 0px;
    margin-top: 80px;
    font-size: 2.25rem;
  }

  .event-boxes-container {
    width: 100%;
    gap: 20px;
  }

  .event-box {
    width: 100%;
  }

  .sectionFour {
    width: 80%;
    margin: 160px 140px;
  }

  .sectionFour .title {
    margin-top: 80px;
    margin-bottom: 10px;
    font-size: 3.5rem;
    font-weight: 600;
    line-height: 1.2;
  }

  .sectionFive {
    padding: 160px 0;
  }

  .sectionFive .title {
    padding: 0px;
    margin-top: 0px;
    margin-bottom: 20px;
    font-size: 2.5rem;
  }

  .footer-container {
    justify-content: space-between;
    flex-direction: row;
    background-image: none;
    padding: 160px 140px;
    height: fit-content;
    background-color: var(--primary-500);
  }

  .footer-logo {
    padding: 0px;
  }

  .footer-logo img {
    margin-top: 0px;
  }

  .footer-links ul {
    padding: 0px 0px;
  }

  .footer-links {
    margin-top: 0px;
  }
}
/*Keyframes*/
@keyframes slide-in {
  from {
    transform: translateX(-100%);
    opacity: 0;
  }
  to {
    transform: translateX(0);
    opacity: 1;
  }
}
section {
  animation: slide-in 1s ease-in-out;
}

@keyframes bounce {
  0%,
  20%,
  50%,
  80%,
  100% {
    transform: translateY(0);
  }
  40% {
    transform: translateY(-30px);
  }
  60% {
    transform: translateY(-15px);
  }
}

.hero-image {
  animation: bounce 1.5s infinite;
}

@keyframes fade {
  from {
    opacity: 0;
    transform: translateY(-10px);
  }
  to {
    opacity: 1;
    transform: translateY(0px);
  }
}
@keyframes subtle-bounce {
  0%,
  100% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(-5px);
  }
}

.sectionThree .event-box:hover {
  animation: subtle-bounce 0.5s ease-in-out;
}
