.open-nav {
  transform: translateX(0%);
}
header {
  display: flex;
  justify-content: space-around;
  align-items: center;
  background-color: yellow;
  padding: 10px 0;
}

.menu,
.close {
  width: 38px;
  padding: 6px;
  cursor: pointer;
}

.close {
  float: right;
  margin: 32px;
  width: 38px;
}

.logo {
  padding: 10px;
  vertical-align: middle;
  display: flex;
  align-items: center;
}

.logo-image {
  width: 180px;
}

nav {
  background: green;
  width: 100%;
  height: 100vh;
  position: fixed;
  top: 0;
  right: 0;
  z-index: 100;
  transform: translateX(100%);
  transition: transform 0.3s ease-in-out;
}

a {
  display: block;
  color: var(--black);
  padding: 16px 32px;
  text-align: center;
  font-size: 1.2rem;
  font-weight: 500;
}

ul {
  padding: 0;
  margin-top: 8em;
}
